/* CSS declarations go here */
.t_center{
  text-align: center;
}
.t_left{
  text-align: left;
}
.t_right{
  text-align: right;
}
.t_float_right{
  float: : right;
}
.t_float_left{
  float: right;
}
.tbl_single_order{
  border:none !important;
}
.tbl_single_order tr, .tbl_single_order td{
  border:none !important;
}
.tbl_order_detail td{
  padding: 5px;
}
.order_space{
  padding-left: 50px !important;
}
.icon-arrow-right:before{
  content:"\e092";
}
.icon-arrow-right{
  position:relative;
  top:1px;
  display:inline-block;
  font-family:'Glyphicons Halflings';
  font-style:normal;
  font-weight:400;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.icon-arrow-left:before{
  content:"\e091";
}
.icon-arrow-left{
  position:relative;
  top:1px;
  display:inline-block;
  font-family:'Glyphicons Halflings';
  font-style:normal;
  font-weight:400;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}



.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}
