<template name="createCustomer">
  <div class="mdl-cell mdl-cell--12-col">
    <h4 style="text-align:center;">Create New Customers</h4>
    <form action="#" id="f_create_customer" style="text-align:center">
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			  <input class="mdl-textfield__input" type="text" id="fname" required/>
				<label class="mdl-textfield__label" for="username">First Name</label>
			</div><br/>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="lname" required/>
        <label class="mdl-textfield__label" for="username">Last Name</label>
      </div><br/>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-labe">
        <input class="mdl-textfield__input" type="text" pattern="[0-9]*" id="phone" required/>
        <label class="mdl-textfield__label" for="phone">Phone</label>
        <span class="mdl-textfield__error">Digits only</span>
      </div>
      <div class="mdl-card__actions">
        <button type="submit" class="t_left mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Submit</button>
      </div>
		</form>


  </div>


</template>
