<template name="invoice">
  <div class="mdl-cell mdl-cell--12-col">
    <h4 style="text-align:center;">
      Generate Invoice &nbsp;
      <a id="get_invoice" href="#"><span class="glyphicon glyphicon-list-alt" style="font-size:28px; color:green;"></span></a> &nbsp;
      <a id="refresh_invoice" href="#"><span class="glyphicon glyphicon-refresh" style="font-size:28px; color:orange;"></span></a>
    </h4>
    {{#if get_selected_items}}
    <div class="container">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h2>King Tailor</h2><h3 class="pull-right">Invoice</h3>
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Billed To:</strong><br>
    					Sang Solida<br>
    					N<sup>0</sup> 55 St.180,<br>
    					Sangkat Boeung Raliang,<br>
    					Khan Daun Penh, Phnom Penh
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">

    			</div>
    		</div>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    					<strong>Client:</strong><br>
              {{#with current_customer get_selected_items}}
                {{lname}} {{fname}}<br>
                {{phone}}
              {{/with}}
    				</address>
    			</div>
    			<div class="col-xs-6 text-right">
    				<address>
    					<strong>Order Date:</strong><br>
    					{{get_today}}<br><br>
    				</address>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                    <tr>
        							<td><strong>Item</strong></td>
        							<td class="text-center"><strong>Price</strong></td>
        							<td class="text-center"><strong>Quantity</strong></td>
                      <td class="text-center"><strong>Totals</strong></td>
                      <td class="text-center"><strong>Booking Money</strong></td>
                      <td class="text-right"><strong>Remain Money</strong></td>
                    </tr>
    						</thead>
    						<tbody>
                  {{#each get_selected_items}}
    							<tr>
    								<td>{{type}}</td>
    								<td class="text-center">{{price}}</td>
    								<td class="text-center">{{qty}}</td>
    								<td class="text-center">{{get_totals price qty}}</td>
                    <td class="text-center">{{book}}</td>
    								<td class="text-right">{{get_left_money price qty book}}</td>
    							</tr>
                  {{/each}}
                  {{#with get_subtotal get_selected_items}}
                  <tr>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"><strong>Subtotal</strong></td>
                  <td class="thick-line text-center">${{total}}</td>
                  <td class="thick-line text-center">${{book}}</td>
                  <td class="thick-line text-right">${{left_money}}</td>
                  </tr>
                  {{/with}}
    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
    {{else}}
    <div class="container">
    <button id="button" class="btn btn-primary" style="margin-bottom: 20px;">clear all select</button>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="tbl_order_list">
      <thead>
        <tr>
          <th>Type</th>
          <th>Customer</th>
          <th>Date</th>
          <th>Expectation Date</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Book($)</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
       <tr data-order="{{objectToJson this}}">
         <td><strong><a href="/order/{{_id}}">{{type}}</a></strong></td>
         <td>
           <a href="/customer/{{customer}}">
            {{get_customer customer}}
           </a>
         </td>
         <td>{{formatDate date}}</td>
         <td>{{formatDate expectation_date}}</td>
         <td>{{qty}}</td>
         <td>{{price}}</td>
         <td>{{book}}</td>
         <td>{{status}}</td>
       </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  <script type="text/javascript">
  $(document).ready(function() {
    var table = $('#tbl_order_list').DataTable();

    $('#tbl_order_list tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );

    $('#button').click( function () {
        // alert( table.rows('.selected').data().length +' row(s) selected' );
        $('#tbl_order_list tr').removeClass("selected");
    } );
    table.on( 'search.dt', function () {
      $('#tbl_order_list tr').removeClass("selected");
    });
  } );


  </script>
    {{/if}}
  </div>

</template>
